{% extends "::base.html.twig" %}

{% block title %}Registration{% endblock %}

{% block body %}
<h1>Sign up</h1>

{{ form_start(form, {'attr' : {'class' : 'form-inline'}}) }}
	{{ form_row(form.firstName) }}
	{{ form_row(form.lastName) }}
	{{ form_row(form.email) }}
	{{ form_row(form.password) }}
	{{ form_row(form.submit) }}
{{ form_end(form) }}

<br>
<a href="{{ path('login') }}">Already have an account? Sign in!</a><br>
{% endblock %}
